<h1>CRUD NODEJS</h1>
<table>

  <tr>
    <td>ID</td>
    <td>User Login</td>
    <td>User pass</td>
  </tr>

    {{#data}}
  <tr>
    <td>{{id}}</td>
    <td>{{user_login}}</td>
    <td>{{user_senha}}</td>
  </tr>
  {{/data}}

</table>
